<hr>
<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="https://media.nal.vn/logo-NAL.jpg" alt="">
      </div>
      <div class="col-sm-7" style="margin-left: 60px">
        <p style="font-weight: bold">NAL MEDIA ベトナムオフショア開発にまつわる情報を提供します</p>
        <p> &nbsp;&nbsp; このサイトは、ベトナムにおけるオフショア開発の状況、ベトナムと日本の協力関係、およびテクノロジーに関する最新のニュースを更新し、NALの人々とお客様のストーリーを投稿しております。<br>
          住所：3F, 84 Duy Tân, Cầu Giấy, Hà Nội, Việt Nam <br>
          電話番号：(+84)243-787-8654 <br>
          メールアドレス：info@nal.vn
        </p>
      </div>
    </div>
  </div>
</div>
