<div class="container">
  <div class="row" >
    <div class="col-sm-8">
      <div>
        <div>
          <a href=""><img [src]="hotNews.image" alt="" style="height: 100%; width: 100%;"></a>
        </div>
        <div>
          <div >
            <a href="" style="color:white; background: red">{{hotNews.category_name}}</a>
          </div>
          <div style="font-weight: bold">
            <p>{{hotNews.title}}</p>
          </div>
          <div>
            <p style="font-size: small">{{hotNews.content}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div *ngFor="let post of newPost">
        <div>
          <a href=""><img [src]="post.image" alt="" style="height: 100%; width: 100%;"></a>
        </div>
        <div>
          <div>
            <a href="" style="color:white; background: purple">{{post.category_name}}</a>
          </div>
          <div style="font-weight: bold">
            <p>{{post.title}}</p>
          </div>
          <div>
            <p>{{post.author}}, {{post.date}}</p>
          </div>
          <div>
            <p style="font-size: small">{{post.content}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-9">
      <p>Latest News</p>
      <hr>
      <div class="row" *ngFor="let lastest of lastestPost" style="margin: 30px">
        <div class="col-sm-4">
          <img [src]="lastest.image" alt="" style="height: 100%; width: 100%;">
        </div>
        <div class="col-sm-8">
          <div>
            <a href="" style="color: white; background: black; font-size: small;width: auto">{{lastest.category_name}}</a>
          </div>
          <div style="font-weight: bold">
            <p>{{lastest.title}}</p>
          </div>
          <div>
            <p style="font-size: small">{{lastest.date}}, by: {{lastest.author}}</p>
          </div>
          <div>
            <p style="font-size: small">{{lastest.content}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <p>Popular News</p>
      <hr>
      <div class="row" *ngFor="let popular of popularPost" style="margin: 10px">
        <div class="col-sm-3">
          <img [src]="popular.image" alt="" style="height: 50px; width: 50px;">
        </div>
        <div class="col-sm-9">
          <a style="color: white; background: black; font-size: small;width: auto">{{popular.category_name}}</a>
          <p>{{popular.title}}</p>
        </div>
      </div>
      <div style="text-align: right">
        <a href="" style="font-size: small">MORE NEWS</a>
      </div>
      <hr>
      <p>Tags</p>
      <div *ngFor="let tag of tags">
        <a href="">{{tag.tag}}</a>
      </div>
      <hr>
      <div *ngFor="let banner of banner">
        <img [src]="banner.image" alt="" style="height: 100%; width: 100%;">
      </div>
    </div>
  </div>
</div>
