<div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <a href="" style="color:black;">
        <div style="text-align: center">
          <h1>NAL MEDIA</h1>
          <h4>ベトナムオフショア開発にまつわる情報を提供します
          </h4>
        </div>
      </a>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="container">
      <ul class="navbar">
        <li class="nav-item" style="display: block">
          <a href="" style="color:black;">オフショア開発</a>
        </li>
        <li class="nav-item" style="display: block">
          <a href="" style="color:black;">NALブログ</a>
        </li>
        <li class="nav-item" style="display: block">
          <a href="" style="color:black;">ベトナム情報</a>
        </li>
        <li class="nav-item" style="display: block">
          <a href="" style="color:black;" >お問い合わせ</a>
        </li>
      </ul>
    </div>
  </div>
  <hr>
</div>
